.StreamElement {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    left: 0;
    right: 0;

    background: #000A2F;
    color: #ffffff;
    border: 1px solid #C7E1FF;
    border-radius: 20px;
}

.title{
    margin-bottom: 5px;
    margin-top: 0px;
}