.StreamElement {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    left: 0;
    right: 0;
    /* background: #191e2c; */
    /* background: linear-gradient(90deg, rgba(0,10,47,1) 0%, rgba(30,65,112,1) 50%, rgba(0,10,47,1) 100%); */
    background: radial-gradient(50% 100% at 50% 50%, #1E4170 0%, #000A2F 100%); 
    /* background: #000A2F; */
    color: #ffffff;
    border-top: 1px solid #C7E1FF;
    border-bottom: 2px solid #000000;
    border-radius: 20px;
    transition: all 0.3s ease-out;
}

.title{
    margin-bottom: 5px;
    margin-top: 0px;
}

.hideCommentsButton, .showCommentsButton {
    margin: 0 auto;
    display: block;
}