.Textarea {
    display: block; 
    padding: 3px 10px;
    margin-bottom: 0px;
    min-height: 20px;
    max-height: calc(80vh - 20px);
    width: calc(100% - 80px);
    min-height: 42px;
    resize: none;
    overflow: auto;
    outline: none;
    border: none; 
    border-radius: 10px;
    border-top: none;
    border-left: none;
    border-right: none;  
    background-color: #ffffff;
}