.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #2B2E36;
  border-radius: 4px;
  background: #2B2E36;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #2B2E36;
  border-color: #2B2E36;
}

.buttonInverse {
  background: transparent;
  color: #2B2E36;
}

.buttonInverse:hover,
.buttonInverse:active {
  color: white;
  background: #2B2E36;
}

.buttonDanger {
  background: #830000;
  border-color: #830000;
}

.buttonDanger:hover,
.buttonDanger:active {
  background: #f34343;
  border-color: #f34343;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.buttonSmall {
  font-size: 0.6rem;
}

.buttonBig {
  font-size: 1.2rem;
}