.InputContainer {
  margin: 1rem 0;
}

.Label,
.InputContainer input {
  display: block;
  text-align: left;
  margin-left: 10%;
}

::placeholder {
  color: #ccc;
}

.InputContainer input {
  text-align: left;
  width: 100%;
  font: inherit;
  border: 1px solid #ccc;
  background: #f8f8f8;
  padding: 0.15rem 0.25rem;
}

.InputContainer input:focus,
.InputContainer textarea:focus {
  outline: none;
  background: #ebebeb;
  border-color: #510077;
}

.ErrorText {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10%;
  font-size: 8pt;
  text-align: right;
}

.InputContainerInvalid .ErrorText {
  color: red;
}

.InputContainerInvalid .Input {
  background: #ffd1d1;
}

