.ElementPreview {
    margin-bottom: 5px;
    padding: 10px; 
    cursor: grab;
}

.smallPreview {
    width: calc(50% - 20px);
}

.ElementPreview:hover {
    border-radius: 5px;
    background-color: #384a7e;
}



.Preview {
    width: 100%;
}
