.LogoutContainer {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.LogoutIcon {
    height: 15px;
    margin-right: 10px;  
}

.LogoutText{
    margin: 0;
}

.MenuItems::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
.MenuItems::-webkit-scrollbar-track {
    border-radius: 6px;
    background: rgb(0,0,0,0)
    
  }
   
  /* Handle */
.MenuItems::-webkit-scrollbar-thumb {
    background: rgba(0, 2, 10, 0.6); 
    border-radius: 6px;
  }
  
  /* Handle on hover */
.MenuItems::-webkit-scrollbar-thumb:hover {
    background: #abcdef; 
  }