.Chat {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: 10vh;
  left: 0;
  right: 0;
  width: 65vw;
  height: 80vh;
  display: flex;
  transition: 0.3s ease;
}

.OutLeft {
  transform: translateX(-100vw);
}

.OutRight {
  transform: translateX(+100vw);
}


