.Chat {
  z-index: 500;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 10vh;
  left: 0;
  right: 0;
  width: 65vw;
  height: 80vh;
  display: flex;
  transition: 0.3s ease;
}

.OutLeft {
  transform: translateX(-100vw);
}

.Previews {
  padding-left: 20px;
  width: 30%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
}

.ChatWindow {
  width: 70%;
  height: 100%;
  background: #abcdef;
}

.Messages {
  height: 85%;
  border: 1px solid grey;
}

.TextField {
  height: 15%;
  border: 1px solid grey;
}

.Active {
  font-weight: bold;
}