.MenuItems::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
.MenuItems::-webkit-scrollbar-track {
    border-radius: 6px;
    background: rgb(0,0,0,0)
    
  }
   
  /* Handle */
.MenuItems::-webkit-scrollbar-thumb {
    background: rgba(0, 2, 10, 0.6); 
    border-radius: 6px;
  }
  
  /* Handle on hover */
.MenuItems::-webkit-scrollbar-thumb:hover {
    background: #abcdef; 
  }

.BackButton {
    position: absolute;
    left: 20px; 
    top: 110px; 
}

.Dropzone {
    height: 100px;
    width: 100px;
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px; 
    cursor: pointer;
    position: relative; 
}

.ProfilePicPlaceholder, .ProfilePic  {
    position: absolute;
    left: 50%; 
    top: 50%; 
    height: 80px; 
    width: 80px; 
    transform: translate(-50%, -50%);
    transition: 0.1s ease;
}

.ProfilePicPlaceholder:hover {
    height: 90px; 
    width: 90px;
}

.TextInput {
    display: block;
    width: 90%;
    font-size: 12pt; 
    padding: 3px 9px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgb(0,0,0,0.5);
    margin-top: 10px; 
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.TextInput.Invaid {
    border: 1px solid red; 
}

.TextInput:-webkit-autofill {
    animation-name: onAutoFillStart;
    transition: background-color 50000s ease-in-out 0s;
    }
    
.Textinput:not(:-webkit-autofill) {
    animation-name: onAutoFillCancel;
}

@keyframes onAutoFillStart {
    
}

@keyframes onAutoFillCancel {
}

.ErrorMessage {
    color: red; 
    margin: 0px 5px;
}

.CreateAccount{
    text-align: center;
    cursor: pointer;
}

.CheckboxText {
    cursor: pointer;
    margin: 0;
}

.CheckboxContainer {
    display: flex;
    flex-direction: row;
}