.DropButton {
    height: 50px;
    min-width: 100px;
    background: #0c1220;
    background: #11192C;
    box-shadow: -6px -6px 6px rgba(66, 60, 60, 0.25), 6px 6px 6px rgba(0, 0, 0, 0.349);
    border-radius: 25px;
    padding-top: 5px; 
    cursor: pointer;
}


.DropButton:active {
    box-shadow: none; 
}

.DropButton:active > .LogoForButton {
    box-shadow: none;
}

.DropButton > img {
    margin-left: calc(50% - 24px);
}