.DropButton {
    height: 50px;
    color: #000;
    min-width: 100px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(102.42deg, #BBD2C5 -11.1%, #536976 28.12%, #292E49 76.14%);
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 20px; 
    padding-top: 5px; 
    margin-bottom: 20px; 
}

.LogoForButton {
    display: block; 
    margin: auto; 
    background: radial-gradient(130.77deg, #5D70C8 34.65%, #5D70C8 0%);
}