.voting {
    height: 50px; 
    width: 45px;
    margin: 0px 0px 0px 10px;
    float: right;
    clear: right;
    text-align: center;
}


.up, .down {
    width: 1.75em;
}

.up {
    margin: 0px 0px -2px 0px; 
}

.down {
    margin-top: 1px;
}


.up:hover, .down:hover {
    cursor: pointer;
}

.points{
    text-align: center;
    cursor: pointer;
}
