.SecondModal {
    position: fixed;
    z-index: 500;
    background-color: #11192c;
    color: #FFFFFF;
    padding: 30px;
    top: 13vh;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    border-radius: 30px;     
    border-bottom: 2px solid #000000;
    box-shadow: 0px 0px 20px 20px rgba(0,0,0,0.75);

}



@media (min-width: 600px) {
    .SecondModal {
        width: 300px;
        left: calc(50% + 20px);
    }
}

