.SecondModal {
    position: fixed;
    z-index: 500;
    background-color: #11192c;
    color: #FFFFFF;
    width: 70%;
    padding: 30px;
    left: 15%;
    top: 13vh;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    border-radius: 30px;     
    border-bottom: 2px solid #000000;
}



@media (min-width: 600px) {
    .SecondModal {
        width: 350px;
        left: calc(50% + 270px);
    }
}

