.Button{
    border-radius: 12px; 
    cursor: pointer; 
    display: block;
    border: none; 
    color: #ffffff;
}

.Light{
    background: #EEEEEE;
    box-shadow: -4px -4px 5px rgba(255,255,255, 1.00), 
                 4px  4px 5px rgba(  0,  0,  0, 0.25);
}

.Dark{
    background: #11192C;
    box-shadow: -4px -4px 5px rgba(255, 255, 255, 0.04), 
                 4px  4px 5px rgba(  0,   0,   0, 0.25);
}

.SubmitComment {
    position: absolute;
    height: 28px;
    bottom: 15px;
    right: 15px; 
    float: right;
    clear: right;
}

/* .DropButton {
    width: 100%;
    height: 50px;
    min-width: 100px;
    border-radius: 25px;
    padding-top: 5px; 
    margin-bottom: 30px; 
} */