.MenuItem {
    border: 1px solid rgba(0, 2, 10, 0.6);
    border-bottom: 2px solid #000000;
    background-color: rgba(0, 2, 10, 0.6);
    border-radius: 14px;
    margin-bottom: 10px;
    padding: 10px;
    margin-right: 5px;
    
}

.MenuItem h4 {
    margin: 0;
}

.Invalid{
    border: 1px solid red; 
}