.HL {
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: red;
}

.VL {
    position: absolute;
    height: 100%;
    width: 1px;
    top: 0;
    background-color: yellow;
}