.Creator {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #F1F1F1; */
    /* background: -webkit-linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255, 1)); */

    color: #ffffff;
    /* border-bottom: 1px solid #000000;
    border-top: 1px solid #ffffff;  */
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    right: 0;
    width: 75vw;
    height: 83vh;
    transition: 0.3s ease;
    text-align: center;
    padding-top: 0%; 
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .canvas {

    height: 100%;
    width: 100%; 

    -webkit-mask: 
      linear-gradient(to top,  transparent 10%, #fff 15% 90%),
      linear-gradient(to left, transparent 10%, #fff 15% 90%, transparent 100%);
    -webkit-mask-size:110% 110%;
    -webkit-mask-repeat:no-repeat;
    -webkit-mask-composite: source-in;

    mask: 
      linear-gradient(to top,  transparent 10%, #fff 15% 90%),
      linear-gradient(to left, transparent 10%, #fff 15% 90%, transparent 100%);
    mask-size: 110% 100%;
    mask-repeat:no-repeat;
    mask-composite: intersect;
  }

  .grid{
    position: absolute;
    height: 1000px;
    width: 1000px;
    border: 1px solid yellow;
    background-size: 50px 50px;
    background-position: -1px -1px;
    background-image: 
      linear-gradient(to right, grey 1px, transparent 1px),
      linear-gradient(to bottom, grey 1px, transparent 1px);
  }

  .Content {
    position: absolute;
    left: 50%;
    top: 43%; 
    transform: translate(-50%, -50%);
  }

 .Blinking {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    font-size: 40pt;
    color: red;
    animation: blinker 1s linear infinite;
 }



 @keyframes blinker {
  50% {
    opacity: 0;
  }
}
  
  .OutLeft {

    transform: translate(-150vw,-50%);
  }
  
  .OutLeftLeft {
    transform: translate(-200vw, -50%);
  }



  .Creator input[type=email] {
    width: 300px; 
    height: 40px;
    font-size: 12pt; 
    padding: 3px 15px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgb(0,0,0,0.5);
    margin-bottom: 15px;
    margin-top: 5px; 
}

.SendingWrapper{
  height: 0;
  position: relative;
}

.Form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.SendButton{
  font-size: 12pt; 
  text-align: center;
  max-height: 40px;
  width: 170px;
  padding: 11px 15px 0px 15px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgb(0,0,0,0.5);
  margin-bottom: 15px;
  margin-top: 5px; 
  margin-left: 20px;
  background-image: linear-gradient(0.4turn, #c31432, #240b36);
  color: #ffffff;
  cursor: pointer;
  transition: 0.1s ease;
}

.ErrorMessage {
  color: red;
}

.SendButton:hover{
  box-shadow: 0px 5px 7px 3px rgb(0,0,0,0.5);
}

.Checkmark, .Spinner {
  position: absolute;
  width: 50px;
  left: 50%;
  margin-left: -25px;
  margin-bottom: 50px; 
}

.Sending {
  opacity: 0.5;
  cursor: auto;
}

.Disabled {
  cursor: auto;
  opacity: 0.5;
}

.TakTakTak {
  height: 30vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  margin-top: 30px; 
}
