.FriendsListItem {
    height: 50px;
    cursor: pointer;
    background-color: rgba(0, 2, 10, 0.6);
    border-radius: 25px; 
    border-bottom: 2px solid #000000;
    margin-bottom: 5px; 
    color: #FFFFFF;
    align-items: center; 

}

.FriendsListItem.selected {
    background-color: rgb(0, 145, 230);
}


.ProfilePictureFriend {
    height: 40px; 
    margin: 5px 10px 5px 5px; 
    display: flex; 
    float: left; 
}

.NameContainer {
    padding-top: 6px; 
    display: flex; 
    float: left; 
}

.Name { 
    font-size: 1.2em;
    font-weight: bold;
    float: left; 
}

