.Element {
    position: absolute;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    color: #ffffff;
    z-index: 200;
}

.highlight {
    border: 1px solid red;
    transform: translate(-1px, -1px)
}

.TextInput {
    /* width: 100%;  */
    margin: 0; 
    color: #ffffff;
    background: rgba(0,0,0,0);
    word-wrap: break-word;
    overflow-x: visible;
    caret-color: #555555;
    position: relative;
}

.Image {
    width: 100%;
    height: 100%; 
}

.Rect {
    background-color: #555555;
}

.text {
    display: inline-block;
    vertical-align: middle;
}

.topAlign {
    vertical-align: top;
}

.middleAlign {
    top: 50%;
    transform: translate(0, -50%);
}

.bottomAlign {
    top: 100%;
    transform: translate(0, -100%);
}