.FriendsListItem {
    max-height: 50px;
    cursor: pointer;
    background-color: rgba(0, 2, 10, 0.6);
    border-radius: 25px; 
    border-bottom: 2px solid #000000;
    margin-bottom: 5px; 
    color: #FFFFFF;
}


.ProfilePicContainer, .CheckboxContainer, .NameContainer {
    display: inline-block;
    vertical-align: top;
}


.Checkbox {
    margin-right: 10px;
}

.ProfilePictureFriend {
    height: 40px; 
    margin: 5px 10px 5px 0px; 
}

.NameContainer {
    padding-top: 6px; 
}

.Name { 
    font-size: 1.2em;
    font-weight: bold;
}

