.StreamElement {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    left: 0;
    right: 0;
    border-radius: 20px;
    transition: all 0.4s ease;
    -webkit-appearance: none;
    transform-style: preserve-3d;
    margin-bottom: 200px;

    /*//////////////////// Styles Pos1 ////////////////////////*/
    margin-top: 36.75px;
    width: 500px;
    /*/////////////////////////////////////////////////////////*/
}

.Light {
    background: #ffffff;
    color: #000000;
    border-top: 4.5px solid #C7E1FF;
    border-bottom: 4px solid #dadada;
}

.Dark {
    background-color: #11192c;
    color: #ffffff;
    border-bottom: 4px solid #000000;
    border-top: 4.5px solid #ffffff; 
}


.DROP {
    font-size: 20pt;
    margin: 0px;
    text-shadow: 0px 0px 5px black;
    font-family: 'Baloo 2'
}


.LogoForButton {
    margin-left: auto;
}

.title {
    margin-bottom: 5px;
    margin-top: 0px;
}

.hideCommentsButton,
.showCommentsButton {
    margin: 0 auto;
    display: block;
}

.ShowDrop {
    transform: translateX(0);
}

