.StreamElement {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    left: 0;
    right: 0;
    background-color: #11192c;
    color: #ffffff;
    border-top: 1px solid #C7E1FF;
    border-bottom: 4px solid #000000;
    border-radius: 20px;
    transition: all 0.3s linear;
    -webkit-appearance: none; 
}

.DropButton {
    width: 100%;
    height: 50px;
    min-width: 100px;
    border-radius: 25px;
    margin-top: 50px;
    margin-bottom: 50px; 
    border: none;
    color: #ffffff;

}

.DropButtonFlat {
    background: linear-gradient(120.66deg, #007991 -9.61%, #78ffd6 105.07%);
}

.DropButtonNeumorphism {
     background: #11192C;
    box-shadow: -6px -6px 5px rgba(255, 255, 255, 0.04), 
                 6px  6px 5px rgba(  0,   0,   0, 0.25); 
}


.DROP{
    font-size: 25pt;
    margin: 0px;
    text-shadow: 0px 0px 5px black; 
    font-family: 'Baloo 2'
}




.LogoForButton {
    margin-left: auto; 
}

.title{
    margin-bottom: 5px;
    margin-top: 0px;
}

.hideCommentsButton, .showCommentsButton {
    margin: 0 auto;
    display: block;
}

.ShowDrop {
    transform: translateX(0);
}

.FadedLeft {
    transform: translateX(-100vw);
}
.FadedRight {
    transform: translateX(+100vw);
}