.ChatWindow {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: max(calc(19.5vw + 20px), 270px);
    box-shadow: -10px 0px 10px -5px #00000066;
    background: #abcdef;
    border-radius: 10px;
  }

.Messages {
    max-height: 100%;
    overflow: scroll;
}

.NotEncryptedMessage {
    text-align: center;
    color: grey;
    font-size: 10pt; 
}