.plus {
    position: absolute;
    margin-top: 2px;
    filter: drop-shadow(0px 0px 4px rgba(147, 129, 255, 0.75))
}

.showMoreBox:hover {
    display: block;
    background-color: #000A2F;
    position: absolute;
    border: 1px solid #ffffff;
    border-radius: 4px;
    top: 11px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);

}

.showMoreBox {
    display: block;
    position: absolute;
    top: 12px;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 2px;
}

.respond {
    padding-left: 12px;
    padding-right: 5px;
    margin-top: 0px;
    display: none;
    font-size: 0.75em;
}

.showMoreBox:hover .respond {
    display: block;
}

