@import url('https://fonts.googleapis.com/css?family=Heebo:100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+2:800&display=swap');

.Stream{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    perspective: 55px;
    -webkit-perspective: 55px;
    display: block; 
    transition: 0.3s ease; 
    opacity: 0.99
}

.OutRight {
    transform: translateX(+200vw);
}


.River {
    z-index: 1;
    display: block;
    margin: auto;
    margin-top: -5px;
    width: 268px;
    user-select: none; 
    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
  }

.RiverGlow {
  z-index: 2; 
  position: absolute; 
  /* display: block;  */
  top: 73px; 
  width: 570px;
  margin: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}

.Boat1 {
  position: absolute; 
  top: 33px;
  width: 50px; 
  display: block; 
  left: 43vw;
  z-index: 300;   
  user-select: none;
  -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}

.Boat2 {
  transform: scaleX(-1);
  position: absolute; 
  top: 33px;
  width: 35px; 
  display: block; 
  left: 55vw;
  z-index: 300;  
  user-select: none;
  -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}

.wtfButton {
  position: absolute; 
  left: calc(50% + 300px);
  color: #ffffff;
  opacity: 30%;
  cursor: pointer;
  user-select: none; 
  -webkit-user-drag: none;  
}

.wtfButton:hover {
  opacity: 100%;
}


.wtfContainer {
  position: absolute;
  /* height: 200px;  */
  width: 400px;
  left: calc(50% + 300px);
  top: 50px;
  padding: 20px 20px 0 20px;
  background: #abcdef;
  border-radius: 9px; 
  z-index: 1000;
  font-size: 80%;
}

.wtfContainer h1 {
  text-align: center;
  margin: 0; 
  margin-bottom: -10px;
}

.SubLine {
  color: #333333;
  text-align: center;
  font-size: 10pt;
  margin-bottom: 20px;
}

.wtfContainer h2, .wtfContainer h3 {
  margin-bottom: 3px;
}

.wtfContainer p {
  margin-top: 8px;
  margin-bottom: 8px;
}

.EmojiButton {
  border: 1px solid #000000;
  border-radius: 3px;
  padding: 1px 4px 3px 4px;
  cursor: pointer;

}

.LeftThumb, .RightThumb {
  position: fixed;
  top: 40vh; 
  cursor: pointer;
  height: 200px;
  width: 200px;
} 

.LeftThumb {
  left: calc((100vw - 530px) / 4);
  margin-left: -100px;
}

.RightThumb {
  right: calc((100vw - 530px) / 4);
  margin-right: -100px;  
}

@media (max-width: 1080px) {
  .LeftThumb, .RightThumb {
    height: 100px;
    width: 100px;
  }

  .LeftThumb {
    left: calc((100vw - 530px) / 4);
    margin-left: -50px;
  }
  
  .RightThumb {
    right: calc((100vw - 530px) / 4);
    margin-right: -50px;  
  }
} 

