.CommentContainer {
    margin-bottom: 50px; 
    position: relative;
}

.Comment {
    min-height: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.Atlas {
    position: absolute;
    top: 25px;
    left: 11px;
}


.actualComment {
    left: 40px;
    max-width: 545px;
    padding: 5px 3px;
    margin: 0px 0px;
    max-width: 500px;
    overflow-wrap: break-word;
    font-size: 12pt;
    margin-bottom: 18px;
    font-family: 'Nunito';
    color: #FFFFFF;
}

.CommentBackground {
    padding: 3px 5px 3px 15px;
    border-radius: 14px;
    min-height: 55px;
    margin-left: 42px;
    position: relative;
    border-bottom: 2px solid #000000;
    background-color: rgba(0, 2, 10, 0.6);
}

.selected {
    position: relative;
    z-index: 200;
}

.selected .CommentBackground {
    background-color: rgba(87, 122, 161, 0.6);
}

.sending {
    background-color: rgba(255,255,255,0.5);
}

/* .CommentBackgroundNeumorphism {
    background-color: rgb(17, 25, 44);
    box-shadow: -4px -4px 5px rgba(255, 255, 255, 0.04),
        4px 4px 5px rgba(0, 0, 0, 0.25);
} */

.SpeechBubbleArrow {
    position: absolute;
    left: -14px;
    top: 4px;
}
