.Content{
    margin-bottom: 6px;
    min-height: 200px; 
    position: relative;

}

.ContentContainer{
    /* position: absolute; */
    /* top: 50%; */
    width: 100%;
    /* transform: translate(0, -50%); */
}

.Spinner{
    position: absolute;
    height: 50px;
    width: 50px; 
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
}

.Meme {
    width: 100%; 
    border-radius: 6px;
    user-select: none;
    -webkit-user-drag: none; 

}