.Navigation {
  position: fixed;
  top: 20px;
  z-index: 200;
  text-align: center;
}

.Navigation ul {
  margin: 0px;
}

.Navigation li {
  display: inline-block;
  list-style: none;
  position: relative;
  cursor: pointer;
}

/*/////////////////////////////*/
.active, .inactive {
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  width: 80px;
  transition: 0.3s ease;
}

/*/////////////////////////////*/

.active {
  font-weight: bold;
  font-size: 16pt;
  border-bottom: 2px solid #0059ff;
  cursor: pointer;
}

.inactive {
  cursor: pointer;
}

.SingleDigit, .DoubleDigit, .TrippleDigit {
  position: absolute;
  right: 10px;
  top: 0px;
  height: 10px;
  border-radius: 5px;
  background-color: red;
  font-size: 8px;
  text-align: center;
  font-weight: bold;
}

.SingleDigit {
  width: 10px;
}

.DoubleDigit {
  width: 14px;
}

.TrippleDigit {
  width: 19px;
}


.NotificationCount {
  display: block;
  width: inherit; 
  text-align: center;
  padding: 0px; 
  color: #ffffff;
}
