.Navigation {
  position: fixed;
  top: 20px;
  z-index: 200;
  text-align: center;
}

.Navigation ul {
  margin: 0px;
}

.Navigation li {
  display: inline-block;
  list-style: none;
  position: relative;
}

/*/////////////////////////////*/
.Navigation span {
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  width: 80px;
  transition: 0.3s ease;
}

/*/////////////////////////////*/

.active {
  font-weight: bold;
  font-size: 16pt;
  border-bottom: 2px solid #0059ff;
  cursor: pointer;
}

.inactive {
  cursor: pointer;
}

.Navigation a:hover {
  cursor: pointer;
}

.Notification {
  position: absolute;
  right: 9px;
  top: 0px;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: red;
  font-size: 8px;
  text-align: center;
  font-weight: bold;
}

.Notification span {
  display: block;
  width: 12px; 
  transform: translate(-2px, 0);
  padding: 0px; 
}
