.SelectionMenu {
    z-index: 390;
    position: absolute;
    width: 200px;
    right: 0;
    top: 40px;
    bottom: 0;
    padding: 8px; 
    font-size: 10pt;
    background-color: #11192c;
}

.SelectionMenu > div {
    margin-bottom: 20px; 
    padding: 10px; 
    border-bottom: 1px solid #595f6d; 
}

.flex {
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.flexSpaceBetween {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inputWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 8pt;
    width: 50%; 
    margin-bottom: 10px; 
}

.inputWrapper span {
    margin-top: 4px; 
    margin-right: 4px; 
}

.input {
    width: 40px;
}

.alignIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.alignIcon {
    cursor: pointer;
    margin-bottom: 5px; 
    margin-right: 2px; 
}

.alignIcon svg {
    height: 25px;
    width: 25px;
}

.alignActive {
    background-color: #ffffff;
    border-radius: 3px;
}

.alignInactive:hover {
    background-color: #9d9ea1;
    border-radius: 3px;
}

.textBoxTypeOptions {
    text-align: left;
}

.fontSelector {
    margin-right: 9px;
    height: 21.5px; 
}

.fontSelector select {
    width: 120px;
    height: 21.5px; 
}