.AddButton {
    position: absolute;
    right: -10px; 
    top: 16.5px;
    height: 17.5px;
    transform: translate(-50%, 0 );
    border: 2px solid #abcdef; 
    border-radius: 30px; 
    padding: 0px 8px 2px 8px; 
    text-align: center;
    color: #abcdef;
    min-width: 20px; 
}

.GlowOnHover:hover{
    border: 2px solid #ffffff;
    box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
    color: #ffffff;
}

.Add {
    width: 40px;
}

.AddIcon {
    margin-top: -1px;
    margin-left: -2px;
    height: 22px;
    width: 22px;
}

.AddIconGLow {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.Clicked {
    background-color: #abcdef;
    color: #202040;
}

.Accept {
    display: block; 
    position: relative; 
}