.CommentContainer {
    position: relative;
}

.Comment {
    min-height: 50px;
    padding-bottom: 20px;
}

.I, .Ishort {
    position: absolute;
    top: 0px;
}

.AuthorProfilePic{
    border-radius: 100%;
    height: 30px; 
    width: 30px;
    margin: 0px 10px 0px 0px;
    background-color: white;
    float: left;
    clear: right;
    border: 4px solid #c4c4c4;
}

.VotingDummy {
    height: 57.5px; 
    width: 45px;
    margin: 0px 0px 0px 10px;
    background-color: red;
    float: right;
    clear: right;
}

.actualComment {
    margin: 0px 0px;
}

.addSubCommentButton{
    right: 20px; 
}




