.TextInput {
    /* width: 100%;  */
    margin: 0; 
    color: #ffffff;
    background: rgba(0,0,0,0);
    word-wrap: break-word;
    overflow-x: visible;
    caret-color: #555555;
    position: relative;
    display: inline-block; 
}

.topAlign {
    vertical-align: top;
}

.middleAlign {
    top: 50%;
    transform: translate(0, -50%);
}

.bottomAlign {
    top: 100%;
    transform: translate(0, -100%);
}