.Corner, .Edge {
    background-color: #f2f2f2;
    background-image: linear-gradient(#f7f7f7, #e7e7e7);
    box-shadow: 0 3px 6px rgb(202, 202, 202), inset 0 2px 3px #fff;
    color: #878787;
}

.Corner {
    position: absolute; 
    height: 10px;
    width: 10px; 
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.Edge {
    position: absolute;
    border: 5px;
    background-color: #ffffff;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.NW {
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    cursor: nw-resize;
}

.SW {
    left: 0;
    bottom: 0;
    transform: translate(-50%, 50%);
    cursor: sw-resize;
}

.SE {
    right: 0;
    bottom: 0;
    transform: translate(50%, 50%);
    cursor: se-resize;
}

.NE {
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    cursor: ne-resize;
}

.N, .S {
    height: 6px;
    width:15px;
    left: 50%;
}


.W, .E {
    height: 15px;
    width: 6px;
    top: 50%;
}

.N {
    top: 0;
    transform: translate(-50%, -50%);
    cursor: n-resize;
}

.S {
    bottom: 0;
    transform: translate(-50%, 50%);
    cursor: s-resize;
}


.W {
    left: 0;
    transform: translate(-50%, -50%);
    cursor: w-resize;
}

.E {
    right: 0;
    transform: translate(50%, -50%);
    cursor: e-resize;
}