.MessageContainer {
    margin-left: 5px;
    margin-right: 5px;
}

.Sent{
    display: flex;
    flex-direction: row-reverse;
}

.Received{
    display: flex;
    flex-direction: row;
}

.TextMessage {
    position: relative;
    word-wrap: break-word;
    padding: 3px 3px;
    margin: 3px;
    color: #ffffff;
}

.Sent .TextMessage {
    border-radius: 10px 0px 10px 10px;
    background-color: #11192c;
}

.Received .TextMessage {
    border-radius: 0px 10px 10px 10px;
    float: left;
    background-color: #11192c;
}

.Text {
    margin: 3px 15px 5px 15px;
}

.Time {
    float: right;
    color: #c4c4c4;
    font-size: 8pt;
    font-weight: bold;
}

