.CommentForm{
    position: relative;
    margin-bottom: 50px;
}

.CommentInput {
    min-height: 50px;
    margin-bottom: 20px;
}

.CommentInputBackground {
    border-radius: 14px;
    min-height: 55px;
    margin-left: 42px;
    position: relative;
    background-color: #eeeeee;
}

.SpeechBubbleArrow {
    position: absolute;
    left: -14px;
    top: 4px;
}

 .TextArea {
    min-height: 55px; 
    padding: 3px 15px;
    position: relative; 
    display: block; 
    border-radius: 14px; 
    width: 100%;
    resize: none;
    overflow: auto;
    outline: none;
    border: none; 
    border-top: none;
    border-left: none;
    border-right: none;  
    background: #EEEEEE;
} 

.InputContainer {
    border-radius: 14px;
    min-height: 55px;
    margin-left: 42px;
    position: relative;
}

.SpeechBubbleArrow{
    position: absolute;
    top: 4px;
}

.toplevel{
    position: absolute;
    left: 28px;
    top: 3px;
}