.CommentFormContainer{
    position: relative;
}

.CommentForm {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
}

.TextArea {
    background-color: #dddddd;
    margin-left: 42px;
    padding-top: 5px;
    min-height: 55px; 
    padding: 3px 5px 3px 15px;
    position: relative; 
    display: block; 
    border-radius: 14px; 
    width: 625.5px;
    resize: none;
    overflow: auto;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;  
    border-bottom: 4px solid #dddddd; 
}

.SpeechBubbleArrow{
    position: absolute;
    left: 28px;
    top: 3px;
}