.ChatPreviews {
    position: relative;
    padding-left: 20px;
    /* padding-top: 10px; */
    padding-top: 30px;
    padding-bottom: 30px;
    width: 30%;
    min-width: 250px;
    color: #ffffff;
}

.SearchContainer {
    height: 20px;
    position: relative;
    margin-left: 10px;
}

.SearchInput {
    border: none;
    margin-left: 10px;
    width: 100%;
    padding-left: 30px; 
    padding-bottom: 6px;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    background-color: #ffffff00;
}

.SearchIcon {
    margin-top: 10px;
    padding-left: 10px;
    cursor: pointer;
    margin: auto;
    position: absolute;
    top: 0; 
    left: 0px; 
    bottom: 0;
    opacity: 0.54
}

.SearchIcon:hover {
    opacity: 1;
}

.NewChatContainer {
    position: relative;
    height: 50px;
    display: block;
    margin-left: 80px;
    display: flex;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    padding-top: 5px;
    background-color: rgba(0, 2, 10, 0.6);
    text-decoration: none;
    transition: 0.1s ease;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.NewChatContainer:hover {
    background-color: rgba(96, 102, 126, 0.6);
    margin-left: 10px;
}

.AddChatIcon {
    margin: 10px;
    margin-left: 15px;
    opacity: 0.5;
    transition: 0.1s ease;
}

.NewChatMessage {
    font-size: 20px;
    color: #ffffff;
    opacity: 0.5;
    transition: 0.1s ease;
    padding-top: 5px;
}

.NewChatContainer:hover .NewChatMessage, .NewChatContainer:hover .AddChatIcon {
    opacity: 1;
}

.ScrollContainer{
    height: calc(80vh - 130px);
    overflow-y: scroll;
    padding-top: 10px;
    scrollbar-width: none;
}


.EmptyMessage {
    text-align: center;
}

.LoaderContainer {
    position: relative; 
}

.Spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}