.ChatPreviews {
    position: relative;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    width: 30%;
    min-width: 250px;
    color: #ffffff;
}

.Header {

}

.SearchContainer {
    height: 20px;
    position: relative;
}

.SearchInput {
    border: none;
    width: 100%;
    padding-left: 30px; 
    border-bottom: 1px solid #ffffff;
    background-color: #ffffff00;
}

.SearchIcon {
    margin-top: 10px;
    cursor: pointer;
    margin: auto;
    position: absolute;
    top: 0; 
    left: 0px; 
    bottom: 0;
    opacity: 0.54
}

.SearchIcon:hover {
    opacity: 1;
}

.NewChatContainer {
    position: relative;
    height: 50px;
    display: block;
    margin-bottom: 5px;
    margin-left: 10px;
    display: flex;
    color: #ffffff;
    cursor: pointer;
    padding-top: 5px;
    background-color: rgba(0, 2, 10, 0.6);
    text-decoration: none;
    transition: 0.2s ease;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.ScrollContainer{
    height: calc(80vh - 130px);
    padding-top: 10px; 
    overflow-y: scroll;
}

/* .ScrollContainer::-webkit-scrollbar {
    display: none;
  } */


.EmptyMessage {
    text-align: center;
}

.LoaderContainer {
    position: relative; 
}

.Spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}