.Source {
    text-overflow: clip;
    display: flex; 
    margin-top: 2px; 
    background: rgba(0, 2, 10, 0.4);
    border-radius: 10px;
    font-size: 8pt;
}

.Header{
    margin: 0px;
    display: inline-flex;
    margin-left: 5px; 
}

.Link{ 
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width:100%;

    text-decoration: none;

    display: inline-flex;
    text-overflow: clip;

    padding: 1px 6px;
    margin-left: 7px; 
    color: grey;
    font-size: 8pt; 
}

.Link:hover{
    text-decoration: underline;
}

