.MenuScreen {
    position: absolute; 
    height: 100%; 
    width: calc(100% - 40px);
    transition: 300ms ease;
}

.left {
    transform: translate(-50%, 0);
}

.right {
    transform: translate(50%, 0);
}

.TextInput {
    display: block;
    width: 90%;
    font-size: 12pt; 
    padding: 3px 9px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgb(0,0,0,0.5);
    margin-top: 10px; 
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}