body, html {
  height: 100%;
}

.App {
  background-image: linear-gradient(to right, #E5E5BE 0%, #476E8A 61.22%, #003973 100%);
  background-size: 300%;
  animation: bg-animation 10s infinite alternate;
}

@keyframes bg-animation {
  0% {background-position: left}
  100% {background-position: right}
}

.AppHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

