body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


body, html {
  height: 100%;
}

.App {
  background: rgb(0,10,47);
  background: linear-gradient(90deg, #0b0d16 0%, #202639 50%, #0b0d16 100%);
  /* background-image: linear-gradient(to right, #E5E5BE 0%, #476E8A 61.22%, #003973 100%); 
  background-size: 300%;
  animation: bg-animation 10s infinite alternate; */
  width: 100vw;
  height: 1000vh;
}

@keyframes bg-animation {
  0% {background-position: left}
  100% {background-position: right}
}

.AppHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
@media screen and (min-width: 800px) {

  
  .ArrowKeys {
    position: absolute;
    width: 100%;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
  }

  .ArrowKeysLeft {
    float: left;
    margin-left: 5%;
    width: 10%;
  }

  .ArrowKeysRight {
    float: right;
    margin-right: 5%;
    width: 10%;
  }
}

@media screen and (max-width: 1150px) {
  .ArrowKeys {
    display: none;
  }
}

.River {
  z-index: 1;
  display: block; 
  margin: auto;
  width: 380px; 
}
