.AuthorPic{
    position: absolute;
    border-radius: 14px;
    height: 25px; 
    width: 25px;
    margin: 0px 10px 0px 0px;
    display: inline-block;
    clear: right;
}

.NeuMorphism{
    box-shadow: -4px -4px 5px rgba(255, 255, 255, 0.08), 
                 4px  4px 5px rgba(  0,   0,   0, 0.5);
}